# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Copyright 2025 The Protobom Authors

name: build-and-test

on:
  pull_request:
    branches:
      - "main"

permissions: {}

jobs:

  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
          persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.25'
        check-latest: true
        cache: false

    - name: Test
      run: |
        go get -d ./...
        go test -v ./...
